#invite-button {
  border-radius: 30px;
  padding: 10px;
  background-color: transparent;
  width: 150px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
}

#invite-button:hover {
  border-color: #d4725a; /* Change the border color to gradient on hover */
}

.navbar-container .navbar-branding {
  background: linear-gradient(to right, #d85d47, #d4725a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  max-height: 35px;
}

.navbar-container .nav-btns {
  display: flex;
  gap: 20px;
}

#download-resume-btn {
  background: linear-gradient(45deg, rgba(0, 0, 64, 1), rgba(74, 0, 128, 0.8));
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
